exportPattern("^[[:alpha:]]+")

useDynLib(corrQR)

S3method(coef, corrQR)

import(ggplot2)
import(gridExtra)

importFrom(qrjoint, qrjoint)
importFrom(qrjoint, chull.center)
importFrom(Rcpp, evalCpp)
importFrom(Matrix, bdiag)
importFrom(quantreg, rq)
importFrom(quantreg, crq)
importFrom(coda, geweke.diag)
importFrom(coda, as.mcmc)
